/* Board */

.board {
    display: grid;
    border: 1px solid #444444;
    grid-auto-rows: 1fr;
    width: 300px;
    height: 300px;
}

.board-cell {
    border: 1px solid #444444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-cell.was-fired.has-ship {
    background: orange;
}

.board-cell.was-fired:not(.has-ship) {
    background: lightblue;
}

.board-cell.is-sunk {
    background: red !important;
}

/* Place ships */

.place-ships-wrapper {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 300px 1fr;
    gap: 50px;
}

.place-ships-user-header {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* Game */

.game-main-wrapper {
    display: grid;
    grid-template-columns: auto 75px auto;
}
